<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container> -->
<div class="nav-containter">
  <mat-divider></mat-divider>
  <mat-nav-list class="nav">
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="laptop"></mat-icon>Pulpit</a>
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="settings"></mat-icon>Trening</a>
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="email"></mat-icon>Wiadomości</a>
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="pencil"></mat-icon>Artykuły</a>
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="video"></mat-icon>Filmiki</a>
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="camera"></mat-icon>Zdjęcia</a>
    <a mat-list-item routerLink=".">
      <mat-icon svgIcon="clipboard-text"></mat-icon>Raport</a>
    <button mat-button class="nav-menu-button" [matMenuTriggerFor]="appMenu">
      <mat-icon svgIcon="account"></mat-icon>Profil
      <mat-icon svgIcon="menu-down"></mat-icon>
    </button>
    <mat-menu #appMenu>
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Contact </button>
    </mat-menu>
  </mat-nav-list>
</div>