.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    background-color: #2d343E;
    z-index: 100;
}

.nav {
    height: 100%;
    background-color: #2d343E;
    position: fixed; // overflow: scroll;
    width: 15%;
    a {
        color: white;
    }
    button {
        color: white;
    }
}

mat-icon {
    padding-right: 5px;
}