<h1 style="font-family: Roboto;">Informacje o Twoim profilu</h1>
<!-- "https://source.unsplash.com/random/200x200" -->
<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <mat-card-title class="cardName">Kazimierz</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="row" style="margin-top: 3px;">
        <div class="column left">
            <img src="https://source.unsplash.com/random/200x200">
        </div>
        <div class="column middle">
            <mat-list>
                <mat-list-item class="boldList">Email</mat-list-item>
                <mat-list-item class="boldList">Data Urodzenia</mat-list-item>
                <mat-list-item class="boldList">Wiek</mat-list-item>
                <mat-list-item class="boldList">Płeć</mat-list-item>
                <mat-list-item class="boldList">Telefon kontaktowy</mat-list-item>
                <mat-list-item class="boldList">Miejscowość</mat-list-item>
                <mat-list-item class="boldList">Informacje</mat-list-item>
                <mat-divider class="divider"></mat-divider>
                <mat-list-item class="boldList">Cel</mat-list-item>
                <mat-divider class="divider"></mat-divider>
                <mat-list-item class="boldList">Staż treningowy</mat-list-item>
                <mat-list-item class="boldList">Typ budowy ciała</mat-list-item>
                <mat-list-item class="boldList">Masa ciała</mat-list-item>
                <mat-list-item class="boldList">Wzrost</mat-list-item>
            </mat-list>
        </div>
        <div class="column right">
            <mat-divider [vertical]="true" [inset]="false"></mat-divider>
            <mat-list>
                <mat-list-item>Kazik@gmail.com</mat-list-item>
                <mat-list-item>27.9.10</mat-list-item>
                <mat-list-item>18</mat-list-item>
                <mat-list-item>Mężczyzna</mat-list-item>
                <mat-list-item>123456789</mat-list-item>
                <mat-list-item>Gdańsk</mat-list-item>
                <mat-list-item>brak</mat-list-item>
                <mat-list-item>MASA</mat-list-item>
                <mat-list-item>1-2 lata</mat-list-item>
                <mat-list-item>Byku</mat-list-item>
                <mat-list-item>110 kg</mat-list-item>
                <mat-list-item>190 cm</mat-list-item>
            </mat-list>
        </div>
    </div>

</mat-card>

<mat-card class="cardContainer">
    <mat-card class="innerCard">asd</mat-card>
    <mat-card class="innerCard">asd</mat-card>
    <mat-card class="innerCard">asd</mat-card>
    <mat-card class="innerCard">asd</mat-card>
</mat-card>