mat-card {
    margin: 1% 0.5%;
}

h1,
h6 {
    margin: 0.5%;
    margin-top: 3%;
}

mat-list {
    flex: 1 1 auto;
    mat-list-item.boldList {
        font-weight: bold;
    }
}

.cardName {
    font-weight: 700;
    font-size: 35px;
}

* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
    /* Should be removed. Only for demonstration */
}

.left {
    width: 20%;
}

.right {
    width: 30%;
}

.middle {
    width: 15%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.divider {
    width: auto;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
}

.innerCard {
    width: 24%;
    height: 5%;
}